#headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

.headerElt {
    width: 33%;
}

#logo {
    width: 250px;
}

#headerWrapper nav {
    display: flex;
    justify-content: center;
}

#thumbnail {
    margin-left: auto;
    display: block;
    height: 75px;
    clip-path:ellipse(50% 50%);
}

button {
    background-color: #018068;
    margin: 20px;
}