.map-container {
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 20%;
    margin: 40px;
}

.map-frame {
    border: 2px solid black;
    height: 100%;
}

#map {
    height: 100%;
}