
mat-sidenav-container {
    height: 100%;
    color:#474747;
    background-color: #e6e6e6;
}

mat-sidenav {
    width: auto;
    background-color: #00be7f;
}

#bodycontainer {
    display: flex;
    justify-content: space-between;
}

mat-sidenav,mat-sidenav-content {
    padding: 16px;
}