
<div class="balise">
    <mat-checkbox class="checkbox"></mat-checkbox>
    <mat-form-field appearance="outline">
        <mat-label>Départ</mat-label>
        <input matInput>
    </mat-form-field>
    <p>Distance</p>
    <button class="bin" mat-mini-fab>
        <mat-icon class="icone" svgIcon="bin" aria-hidden="false" aria-label="bin icone"></mat-icon>
    </button>
</div>
<div class="buttonadd">
    <button class="add-balise" mat-mini-fab>
        <mat-icon class="icone" svgIcon="add" aria-hidden="false" aria-label="add icone"></mat-icon>
    </button>
</div>
<div class="balise">
    <mat-checkbox class="checkbox"></mat-checkbox>
    <mat-form-field appearance="outline">
        <mat-label>Arrivée</mat-label>
        <input matInput>
    </mat-form-field>
    <p>Distance</p>
    <button class="bin" mat-mini-fab>
        <mat-icon class="icone" svgIcon="bin" aria-hidden="false" aria-label="bin icone"></mat-icon>
    </button>
</div>



    