::ng-deep .mat-expansion-panel-body{
    padding: 0;
}

.balises{
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding:0px;
    cursor:grab;
}

.balises:hover{
    background-color: rgb(22, 172, 134);
}

.bin:hover{
    background-color: rgb(255, 33, 4);
}

.add-button:hover{
    background-color: #1c6feccc;
}

.buttonadd{
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 20px;
}

.flag-start {
    background-color: #def86bcc;
}

.flag-end {
    background-color: #def86bcc;
}