<mat-accordion multi="true">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-checkbox class="checkbox"></mat-checkbox>
                <mat-form-field appearance="outline">
                    <mat-label>Départ</mat-label>
                    <input matInput>
                </mat-form-field>
            </mat-panel-title>
            <mat-panel-description>
                Distance
                </mat-panel-description>
        </mat-expansion-panel-header>
    </mat-expansion-panel>
</mat-accordion>
    