#container {
    background-color: #E6E6E6;
}

#intro {
    text-align: left;
    padding: 30px;
    color: white;
    font-size: 2em;

    background: url("../../../assets/homeBackground.jpg");
    background-position: center;
    height: 100vh;
}

#subTitle {
    color:#9affeb;
    font-size: 1.5em;
    margin-top: 30px;
}

#partTwo {
    margin-top: 250px;
}

#intro button {
    margin-left: 0;
    font-size: large;
    opacity: 1;
}

h1 {
    color: #06886F;
}

button {
    display: block;
    background-color: #06886F;
    margin: 70px auto;
}

iframe {
    display: block;
    margin: 30px auto;
}