<div id="container">
    
    <aside id="leftAside">

        <section id="userInfos">
            <img [src]="profilePicUrl" alt="photo_utilisateur">
            <p id="pseudo">{{pseudo}}</p>
            <q id="devise">{{devise}}</q>
        </section>

        <section id="crud">

            <h2>Options</h2>
            <mat-nav-list>
                <a mat-list-item routerLink="/parcours">Ajouter un parcours</a>
                <a mat-list-item href="">Modifier</a>
                <a mat-list-item href="">Supprimer</a>
            </mat-nav-list>

        </section>

    </aside>

    <aside id="rightAside">
        <!-- Affichage dynamique des parcours enregistrés du profil actif -->
        <h2>Mes Parcours</h2>

        <ul *ngFor="let profil of profils; let i = index">
            <li class="undecorated">{{i+1}}</li>
            <li>{{profil.photo_profil}}</li>
            <li>{{profil.pseudo}}</li>
        </ul>

    </aside>

</div>