<p>date works!</p>

<mat-accordion multi="true">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Date
            </mat-panel-title>
            <mat-panel-description>
                Total Duration
            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-balise>
        </app-balise>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Date2
            </mat-panel-title>
            <mat-panel-description>
                Total Duration
            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-balise>
        </app-balise>
    </mat-expansion-panel>
</mat-accordion>


